<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Css("main", "form", "dp")
</head>
<body>
    @Html.Js("jquery")
    @using (Html.nbAjaxBeginForm((string)ViewBag.SaveAction))
    { 
        <div class="pageFormContent">
            @RenderBody()
        </div>
    }
    @Html.nbFormBar()
</body>
</html>
@Html.Js("common", "validate", "form", "datepicker")
@RenderSection("Script", false)
